<div class="navbar">
    <div class="subnav">
        <button class="subnavbtn">CLIENTES</button>
        <div class="subnav-content">
            <a routerLink="clientes">Listar</a>
            <a href="add-cliente">Cadastrar</a>

        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">FORNECEDORES</button>
        <div class="subnav-content">
            <a routerLink="fornecedor">Listar</a>
            <a routerLink="add-fornecedor">Cadastrar</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">INSUMOS</button>
        <div class="subnav-content">
            <a routerLink="insumos">Listar</a>
            <a routerLink="add-insumo">Cadastrar</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">RECEITAS</button>
        <div class="subnav-content">
            <a routerLink="receitas">Listar</a>
            <a routerLink="add-receita">Cadastrar</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">PRODUTOS</button>
        <div class="subnav-content">
            <a href="produtos">Listar</a>
            <a href="add-produto">Cadastrar</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">FUNCIONÁRIOS</button>
        <div class="subnav-content">
            <a href="funcionarios">Listar</a>
            <a href="add-funcionario">Cadastrar</a>
        </div>
    </div>
</div>