<div class="navbar">
  <div class="subnav">
    <a routerLink="clientes" class="subnavbtn">CLIENTE</a>
  </div>
  <div class="subnav">
    <a routerLink="fornecedores" class="subnavbtn">FORNECEDOR</a>
  </div>
  <div class="subnav">
    <a routerLink="insumos" class="subnavbtn">INSUMO</a>
  </div>
  <div class="subnav">
    <a routerLink="receitas" class="subnavbtn">RECEITAS</a>
  </div>
  <div class="subnav">
    <a routerLink="produtos" class="subnavbtn">PRODUTOS</a>
  </div>
  <div class="subnav">
    <a routerLink="funcionarios" class="subnavbtn">FUNCIONÁRIOS</a>
  </div>
</div>
