
.w-20{
    width: 20%;
}

.w-16{
    width: 16.66%;
}
.w-200{
    width: 200%;
}

.navbar {
    background-color: #FFAF00; 
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0  !important;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 0 14px 0;
    text-decoration: none;
    height: 100%;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
    width: 16.66%;
    text-align: center;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }
  
  .subnavbtn{
      width: 100%;
  }
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #8C8C8C;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #8C8C8C;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #8C8C8C;
    color: white;
  }
  
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: space-around;
  }

  