<div class="navbar">
    <div class="subnav">
        <button class="subnavbtn">CLIENTES</button>
        <div class="subnav-content">
            <a href="#link1">Listar</a>
            <a href="#link2">Cadastrar</a>
       
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">FORNECEDORES</button>
        <div class="subnav-content">
            <a routerLink="list-fornecedor">Listar</a>
            <a routerLink="add-fornecedor">Cadastrar</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">INSUMOS</button>
        <div class="subnav-content">
            <a routerLink="insumos">Listar</a>
            <a routerLink="add-insumo">Cadastrar</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">RECEITAS</button>
        <div class="subnav-content">
            <a routerLink="list-receita">Listar</a>
            <a routerLink="add-receita">Cadastrar</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">PRODUTOS</button>
        <div class="subnav-content">
            <a href="#link1">Listar</a>
            <a href="#link2">Cadastrar</a>
       
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">FUNCIONÁRIOS</button>
        <div class="subnav-content">
            <a href="#link1">Listar</a>
            <a href="#link2">Cadastrar</a>
       
        </div>
    </div>
</div>
