<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Insira Nome do insumo</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Nome do insumo: </mat-label>
                <input matInput placeholder="Nome do Insumo" formControlName="nome" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Lista de dataCompra</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>dataCompra: </mat-label>
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataCompra">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button matStepperNext>Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup" label="Preparo">
        <form [formGroup]="firstFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Modo de Preparo: </mat-label>
                <input matInput formControlName="modoDePreparo" placeholder="Modo de Preparo" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button matStepperNext>Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Feito!</ng-template>
        <p>Receita Adicionada com Sucesso!</p>
        <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="Save()">save</button>
        </div>
    </mat-step>
</mat-stepper>