<form class="formulario" [formGroup]="firstFormGroup">
    <p class="new-header fw-bold my-3 h4">Novo Insumo</p>
    <mat-form-field class="w-99" appearance="fill">
        <mat-label>Insumo</mat-label>
        <input matInput disabled value="" />
    </mat-form-field>

    <div class="w-100 d-flex flex-wrap justify-content-between">
        <mat-form-field class="col-4" appearance="fill">
            <mat-label>Nome Insumo</mat-label>
            <input matInput formControlName="nome" />
        </mat-form-field>
        <!--
        <mat-form-field class="col-4 px-2" appearance="fill">
            <mat-label>Fornecedor</mat-label>
            <input matInput formControlName="fornecedor" />
        </mat-form-field>
-->
        <mat-form-field class="col-4 px-2" appearance="fill">
            <mat-label>Fornecedor</mat-label>
            <mat-select formControlName="idClienteFornecedor">
                <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.id">{{fornecedor.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-4 px-2" appearance="fill">
            <mat-label>Data da Compra</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dataCompra" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-4 px-2" appearance="fill">
            <mat-label>Valor Unitário</mat-label>
            <input matInput formControlName="precoUnit" type="number" />
        </mat-form-field>

        <mat-form-field class="col-4 px-2" appearance="fill">
            <mat-label>Validade Insumo</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="validade" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-4 px-2">
            <mat-label>Selecione uma Unidade de Medida</mat-label>
            <select matNativeControl formControlName="undMedida">
        <option value="Selecione" selected>Selecione...</option>
        <option value="litros">Litros</option>
        <option value="kilos">KG</option>
        <option value="unidade">Unidade</option>
      </select>
        </mat-form-field>
    </div>

    <div class="btn-finish">
        <button type="submit" mat-raised-button class="Salvar" (click)="Save()">
      Salvar
    </button>
        <button type="reset" mat-raised-button class="Limpar">Limpar</button>
    </div>
</form>