<h1 *ngIf="!showDiv" mat-dialog-title>Exibir Produto</h1>
<h1 *ngIf="showDiv" mat-dialog-title>Editar Produto</h1>
<div *ngIf="!showDiv" mat-dialog-content>
    <span style="font-weight: bold; font-size: 12px;">Produto:</span> {{data.nome}}
</div>
<hr>
<div *ngIf="showDiv" mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput [(ngModel)]="data.id">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="data.nome">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="data.descricao">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Quantidade produzida</mat-label>
        <input matInput [(ngModel)]="data.quantidade">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Unidade de medida</mat-label>
        <input matInput [(ngModel)]="data.unidadeMedida">
    </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex">
    <button *ngIf="showDiv" class="success" mat-raised-button (click)="Update(data)">
    Atualizar
  </button>
    <button (click)="onCancel()" mat-raised-button class="success">
    Cancelar
  </button>
</div>
