<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Insira o Titulo da receita</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Titulo Receita: </mat-label>
        <input matInput placeholder="Título da Receita" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step><mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Lista de Ingredientes</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Ingredientes: </mat-label>
        <input matInput placeholder="Ingredientes" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Preparo">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Modo de Preparo: </mat-label>
        <input matInput formControlName="thirdCtrl" placeholder="Modo de Preparo"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Feito!</ng-template>
    <p>Receita Adicionada com Sucesso!</p>
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
